/* section1 */
.sec1{
    position: relative;
    padding: 0 calc(100vw * 200 / 1920);
    font-family: "BASKVILL";
    color: #fff;
    background-image: url(../img/main.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.sec1 span{
    position: absolute;
    top: calc(100vw * -190 / 1920);
    left: 45%;
    transform: translateX(-50%);
    font-family: "BASKVILL-R";
    font-size: calc(100vw * 1050 / 1920);
    mix-blend-mode: overlay;
    opacity: 0.6;
}
.sec1 p:first-of-type{
    padding-top: calc(100vw * 200 / 1920);
    text-align: center;
    font-weight: 500;
    font-size: calc(100vw * 35 / 1920);
}
.sec1 h1{
    padding-top: calc(100vw * 80 / 1920);
    font-family: "BASKVILL-R";
    text-align: center;
    font-weight: 400;
    font-size: calc(100vw * 313 / 1920);
}
.sec1 h3{
    margin-top: calc(100vw * 340 / 1920);
    font-size: calc(100vw * 40 / 1920);
    font-weight: 400;
}
.sec1 h2{
    margin-top: calc(100vw * 100 / 1920);
    font-size: calc(100vw * 100 / 1920);
    font-weight: 400;
}
.sec1 p:nth-of-type(2){
    margin-top: calc(100vw * 110 / 1920);
    font-size: calc(100vw * 30 / 1920);
    font-weight: 400;
    color: #B9B9B9;
}
.sec1 p:nth-of-type(3){
    margin-top: calc(100vw * 40 / 1920);
    padding-bottom: calc(100vw * 186 / 1920);
    font-family: 'Pretendard-Regular';
    font-size: calc(100vw * 22 / 1920);
    font-weight: 400;
    line-height: 164%;
    color: #B9B9B9;
}

/* section2 */
.sec2{
    z-index: -1;
    position: relative;
    height: calc(100vw * 1000 / 1920);
    background: linear-gradient(78.05deg, #B1B1B1 15.52%, rgba(217, 217, 217, 0) 89.57%);
}
.sec2 img{
    position: absolute;
    top: calc(100vw * -20 / 1920);
    left: 22.5%;
    width: calc(100vw * 1050 / 1920);
}

/* section3 */
.sec3{
    padding: 0 calc(100vw * 200 / 1920);
    font-family: "BASKVILL";
    color: #040404;
    background: #FAFAFA;
}
.sec3 h3{
    padding-top: calc(100vw * 170 / 1920);
    padding-bottom: calc(100vw * 110 / 1920);
    font-family: 400;
    font-size: calc(100vw * 40 / 1920);
}
.sec3 h6{
    font-family: 'Pretendard-Regular';
    font-size: calc(100vw * 20 / 1920);
}
.sec3 .line{
    width: 100%;
    margin: calc(100vw * 17 / 1920) 0;
    border-top: 1px solid #070707;
}
.sec3 .sec3_flex{
    display: flex;
    gap: calc(100vw * 80 / 1920);
}
.sec3 .sec3_flex div{
    width: calc(100vw * 720 / 1920);
}
.sec3 .sec3_flex div p{
    font-size: calc(100vw * 115 / 1920);
    line-height: 117%;
    letter-spacing: 0.01em;
    word-break: break-all;
}
.sec3 .sec3_flex div p:nth-of-type(2){
    font-family: "BASKVILL-R";
}
.sec3 .sec3_flex div:nth-of-type(1) h6:nth-of-type(2){
    margin-bottom: calc(100vw * 30 / 1920);
}
.sec3 .sec3_flex div:nth-of-type(1) h6:nth-of-type(3){
    margin-top: calc(100vw * 80 / 1920);
    margin-bottom: calc(100vw * 20 / 1920);
}
.sec3 .sec3_flex div:nth-of-type(2) p:nth-of-type(1){
    margin-top: calc(100vw * 70 / 1920);
    line-height: 110%;
}
.sec3 .sec3_flex div:nth-of-type(2) p:nth-of-type(2){
    margin-top: calc(100vw * 280 / 1920);
    line-height: 110%;
}
.sec3 .bottom h6:nth-of-type(1){
    margin-top: calc(100vw * 120 / 1920);
}
.sec3 .bottom h6:nth-of-type(3){
    margin-top: calc(100vw * 68 / 1920);
}
.sec3 .bottom p{
    font-size: calc(100vw * 98 / 1920);
}
.sec3 .bottom p:nth-of-type(1){
    margin-top: calc(100vw * 20 / 1920);
}
.sec3 .bottom p:nth-of-type(2){
    margin-top: calc(100vw * 20 / 1920);
    padding-bottom: calc(100vw * 225 / 1920);
    font-family: "BASKVILL-R";
}

/* section4 */
.sec4{
    padding: 0 calc(100vw * 200 / 1920) calc(100vw * 180 / 1920);
    color: #fff;
    font-family: "BASKVILL";
    background: #040404;
}
.sec4 h3{
    padding-top: calc(100vw * 160 / 1920);
    font-size: calc(100vw * 40 / 1920);
}
.sec4 p{
    margin-top: calc(100vw * 50 / 1920);
    margin-bottom: calc(100vw * 100 / 1920);
    font-size: calc(100vw * 22 / 1920);
}
.sec4 ul{
    display: flex;
    gap: calc(100vw * 26 / 1920);
    font-family: 'Pretendard-Regular';
    font-size: calc(100vw * 22 / 1920);
}
.sec4 ul li{
    display: flex;
    justify-content: space-between;
    width: calc(100vw * 480 / 1920);
    margin-bottom: calc(100vw * 28 / 1920);
}
.sec4 img{
    width: calc(100vw * 480 / 1920);
}
.sec4 .grid{
    position: relative;
}
.sec4 .grid img:nth-of-type(2){
    position: absolute;
}
.sec4 .sec4_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: calc(100vw * 48 / 1920);
}
.sec4 .grid1 img:nth-of-type(2){
    top: calc(100vw * 48 / 1920);
    left: calc(100vw * 63 / 1920);
    width: calc(100vw * 410 / 1920);
}
.sec4 .grid2 img:nth-of-type(2){
    top: calc(100vw * 63 / 1920);
    left: calc(100vw * 92 / 1920);
    width: calc(100vw * 330 / 1920);
}
.sec4 .grid3 img:nth-of-type(2){
    top: calc(100vw * 9 / 1920);
    left: calc(100vw * 68 / 1920);
    width: calc(100vw * 330 / 1920);
}
.sec4 .grid4 img:nth-of-type(2){
    top: calc(100vw * 51 / 1920);
    left: calc(100vw * 90 / 1920);
    width: calc(100vw * 210 / 1920);
}
.sec4 .grid5 img:nth-of-type(2){
    top: calc(100vw * 66 / 1920);
    left: calc(100vw * 131 / 1920);
    width: calc(100vw * 160 / 1920);
}
.sec4 .grid6 img:nth-of-type(2){
    top: calc(100vw * 15 / 1920);
    left: calc(100vw * 152 / 1920);
    width: calc(100vw * 160 / 1920);
}
.sec4 .grid7 img:nth-of-type(2){
    top: calc(100vw * 75 / 1920);
    left: calc(100vw * 98 / 1920);
    width: calc(100vw * 260 / 1920);
}
.sec4 .grid8 img:nth-of-type(2){
    top: calc(100vw * -10 / 1920);
    left: calc(100vw * 101 / 1920);
    width: calc(100vw * 280 / 1920);
}
.sec4 .grid9 img:nth-of-type(2){
    top: calc(100vw * 32 / 1920);
    left: calc(100vw * 81 / 1920);
    width: calc(100vw * 310 / 1920);
}

/* section5 */
.sec5{
    background: linear-gradient(78.05deg, #B1B1B1 15.52%, rgba(217, 217, 217, 0) 89.57%);
}
.sec5 img{
    margin: calc(100vw * 96 / 1920) calc(100vw * 144 / 1920);
    width: calc(100vw * 1630 / 1920);
}

/* section6 */
.sec6{
    padding: 0 calc(100vw * 200 / 1920);
    color: #fff;
    font-family: "BASKVILL";
    background: #040404;
}