/* Font */

@font-face {
    font-family: "BASKVILL";
    src: url(../fonts/BASKVILL.ttf) format('truetype');
}
@font-face {
    font-family: "BASKVILL-M";
    src: url(../fonts/baskerville-t-medium-italic.ttf) format('truetype');
}
@font-face {
    font-family: "BASKVILL-R";
    src: url(../fonts/baskerville-t-regular-italic.ttf) format('truetype');
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* CSS Reset */

html {font-size: 62.5%;}
body{-ms-overflow-style: none; font-size: 1.6rem; background: #D9D9D9; max-width: 1920px;}
::-webkit-scrollbar {display: none;}
body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,select,table,td,textarea,th,ul, header, nav, section, video, div { margin:0; padding:0; box-sizing: border-box;}
button,input { border-radius:0; border: none; background-color: transparent; cursor: pointer;}
fieldset,img { border:0 }
ol,ul { list-style:none }
address,em { font-style:normal }
a { text-decoration:none }
iframe { overflow:hidden; margin:0; padding:0; border:0 }